@font-face {
	font-family: AnjaEliane;
	src: url('http://localhost/sb/pamela/fonts/AnjaEliane.ttf');
}

@font-face {
	font-family: Eurofurence;
	src: url('http://localhost/sb/pamela/fonts/eurofurence/eurof35.ttf');
}

body {
	font-family: Eurofurence;
}

h1, h2, h3, h4, h5, h6 {
	font-family: AnjaEliane, sans-serif;
	font-weight: normal;
}

p {
	font-family: Eurofurence;
	font-size: 16pt;
}
